{% extends "home.html" %} 
{% block title %}
Pemesanan | NF Cool Service
{% endblock %}
{% block body_class %}page-form{% endblock  %}
{% load static %} 
{% block content %}
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-6 form-card">
          <h2 class="text-center mb-4">Form Pemesanan Layanan AC</h2>
          <form method="post" novalidate>
            {% csrf_token %}
            {% if form.errors %}
              <div class = "alert alert-danger">
                Mohon Lengkapi Data yang Diisi
              </div>
            {% endif %}
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="nama" class="form-label">Nama Lengkap</label>
                {{ form.nama }}
                <div class="text-danger small">
                  {{ form.nama.errors }}
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="email" class="form-label">Email</label>
                {{ form.email }}
                <div class="text-danger small">
                  {{ form.email.errors }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="telepon" class="form-label">Nomor Telepon</label>
                {{ form.telepon }}
                <div class="text-danger small">
                  {{ form.telepon.errors }}
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="jenis_layanan" class="form-label">Jenis Layanan</label>
                {{ form.jenis_layanan}}
                {% if form.jenis_layanan.errors %}
                  <div class="text-danger small">
                    {{ form.jenis_layanan.errors }}
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="mb-3">
              <label for="alamat" class="form-label">Alamat Lengkap</label>
              {{ form.alamat }}
              {% if form.alamat.errors %}
                  <div class="text-danger small">
                    {{ form.alamat.errors }}
                  </div>
                {% endif %}
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="merk_model" class="form-label">Merk dan Model AC</label>
                {{ form.merk_model }}
                {% if form.merk_model.errors %}
                  <div class="text-danger small">
                    {{ form.merk_model.errors }}
                  </div>
                {% endif %}
              </div>
              <div class="col-md-6 mb-3">
                <label for="tanggal" class="form-label">Tanggal Layanan Diinginkan</label>
                {{ form.tanggal }}
                {% if form.tanggal.errors %}
                  <div class="text-danger small">
                    {{ form.tanggal.errors }}
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="mb-3">
              <label for="waktu" class="form-label">Waktu Layanan</label>
              {{ form.waktu }}
              {% if form.waktu.errors %}
                  <div class="text-danger small">
                    {{ form.waktu.errors }}
                  </div>
                {% endif %}
            </div>
            <div class="mb-3">
              <label for="detail_tambahan" class="form-label">Detail Tambahan (Opsional)</label>
              {{ form.detail_tambahan }}
            </div>
            <button
              type="submit"
              class="btn btn-primary w-25"
            >
              Kirim Pesanan
            </button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
