{% extends "home.html" %} 
{% block title %}
Layanan | NF Cool Service
{% endblock %}
{% load static %} {% block content %} 
<section class="py-5">
  <div class="container">
    <h1 class="text-center mb-5">Layanan Utama</h1>
    <div class="row g-4 justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card h-100 layanan-card border-0 shadow-sm">
          <div class="layanan-img-wrapper">
            <img
              src="{% static 'images/perbaikan_ac.jpg' %}"
              class="card-img-top"
              alt="Layanan-service-AC-rumah"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Service AC</h5>
            <p class="card-text">
              Service AC profesional untuk menjaga performa dan kenyamanan
              ruangan.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card h-100 layanan-card border-0 shadow-sm">
          <div class="layanan-img-wrapper">
            <img
              src="{% static 'images/cuci_ac.jpg' %}"
              class="card-img-top"
              alt="Cuci-AC-berkala"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Cuci AC</h5>
            <p class="card-text">
              Cuci AC rutin agar udara lebih bersih dan mesin lebih awet.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card h-100 layanan-card border-0 shadow-sm">
          <div class="layanan-img-wrapper">
            <img
              src="{% static 'images/pasang_ac.jpg' %}"
              class="card-img-top"
              style="height: 300px; object-fit: cover"
              alt="Pasang-AC-baru"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Pasang AC</h5>
            <p class="card-text">
              Pemasangan AC cepat dan tepat oleh teknisi berpengalaman.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
